<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CA 7</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
        <h2><a class="breadcrumb-item text-dark" href="/customer">Online Mobile Phone Store</a> <span
                class="badge badge-secondary" id="databaseFilterNotice"></span></h2>
        <!-- Database Search -->
        <div class="input-group mb-3">
            <!-- Add Button  -->
            <button class="btn btn-primary mr-5" data-toggle="modal" data-target="#addModal">Add</button>
            <!-- Search the Database (Customer) -->
            <div class="input-group-prepend">
                <select class="custom-select" id="databaseSearchSelect">
                    <option value="customer" selected>Customer</option>
                    <option value="item">Item</option>
                </select>
            </div>
            <input class="form-control border" type="search" placeholder="Input Keyword ..."
                id="databaseSearchFilter">
            <div class="input-group-append">
                <button class="btn btn-success" type="button" id="databaseSearch">Search</button>
            </div>
        </div>

        <!-- Customer Table -->
        <table class="table table-hover table-striped" id="customerList">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Home Line1</th>
                    <th>Home Line2</th>
                    <th>Home Town</th>
                    <th>Home City</th>
                    <th>Home Eircode</th>
                    <th>Shipping Line1</th>
                    <th>Shipping Line2</th>
                    <th>Shipping Town</th>
                    <th>Shipping City</th>
                    <th>Shipping Eircode</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{mobile}}</td>
                    <td>{{email}}</td>
                    <td>{{home_line1}}</td>
                    <td>{{home_line2}}</td>
                    <td>{{home_town}}</td>
                    <td>{{home_city}}</td>
                    <td>{{home_eircode}}</td>
                    <td>{{shipping_line1}}</td>
                    <td>{{shipping_line2}}</td>
                    <td>{{shipping_town}}</td>
                    <td>{{shipping_city}}</td>
                    <td>{{shipping_eircode}}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-sm btn-warning update" data-id="{{ _id }}"
                            data-title="{{ title }}" data-first-name="{{ first_name }}" data-last-name="{{ last_name }}"
                            data-mobile="{{ mobile }}" data-email="{{ email }}" data-home-line1="{{ home_line1 }}"
                            data-home-line2="{{ home_line2 }}" data-home-town="{{ home_town }}"
                            data-home-city="{{ home_city }}" data-home-eircode="{{ home_eircode }}"
                            data-shipping-line1="{{ shipping_line1 }}" data-shipping-line2="{{ shipping_line2 }}"
                            data-shipping-town="{{ shipping_town }}" data-shipping-city="{{ shipping_city }}"
                            data-shipping-eircode="{{ shipping_eircode }}">Update</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ _id }}"
                            data-title="{{ title }}" data-first-name="{{ first_name }}" data-last-name="{{ last_name }}"
                            data-mobile="{{ mobile }}" data-email="{{ email }}" data-home-line1="{{ home_line1 }}"
                            data-home-line2="{{ home_line2 }}" data-home-town="{{ home_town }}"
                            data-home-city="{{ home_city }}" data-home-eircode="{{ home_eircode }}"
                            data-shipping-line1="{{ shipping_line1 }}" data-shipping-line2="{{ shipping_line2 }}"
                            data-shipping-town="{{ shipping_town }}" data-shipping-city="{{ shipping_city }}"
                            data-shipping-eircode="{{ shipping_eircode }}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <!-- Modal Add Customer-->
        <form id="addForm" action="/customer" method="POST">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Customer Information</h5>
                            <div class="form-group">
                                <label for="title">Title: </label>
                                <select name="title" class="form-control">
                                    <option value="Mr" selected="selected">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Mx">Mx</option>
                                    <option value="Sir">Sir</option>
                                    <option value="Dr">Dr</option>
                                    <option value="Lord">Lord</option>
                                    <option value="Lady">Lady</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="first_name" class="form-control" placeholder="First name"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="last_name" class="form-control" placeholder="Last name"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="tel" name="mobile" class="form-control" placeholder="Mobile" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <h5>Home Address</h5>
                            <div class="form-group">
                                <input type="text" name="home_line1" class="form-control" placeholder="Line 1" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_line2" class="form-control" placeholder="Line 2" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_town" class="form-control" placeholder="Town" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_city" class="form-control" placeholder="City" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_eircode" class="form-control" placeholder="Eircode"
                                    required>
                            </div>
                            <h5>Shipping Address</h5>
                            <div class="form-group">
                                <input type="text" name="shipping_line1" class="form-control" placeholder="Line 1"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_line2" class="form-control" placeholder="Line 2"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_town" class="form-control" placeholder="Town"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_city" class="form-control" placeholder="City"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_eircode" class="form-control" placeholder="Eircode"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Modal Update Customer -->
        <form id="updateForm" action="/customer" method="PUT">
            <!-- we can't PUT with HTML form - this is just an attribute  picked up by AjAX -->
            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Customer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Customer Information</h5>
                            <div class="form-group">
                                <label for="title">Title: </label>
                                <select name="title" class="form-control title">
                                    <option value="Mr" selected="selected">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Mx">Mx</option>
                                    <option value="Sir">Sir</option>
                                    <option value="Dr">Dr</option>
                                    <option value="Lord">Lord</option>
                                    <option value="Lady">Lady</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="first_name" class="form-control first_name"
                                    placeholder="First name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="last_name" class="form-control last_name"
                                    placeholder="Last name" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" name="mobile" class="form-control mobile" placeholder="Mobile"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control email" placeholder="Email"
                                    required>
                            </div>
                            <h5>Home Address</h5>
                            <div class="form-group">
                                <input type="text" name="home_line1" class="form-control home_line1"
                                    placeholder="Line 1" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_line2" class="form-control home_line2"
                                    placeholder="Line 2">
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_town" class="form-control home_town" placeholder="Town"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_city" class="form-control home_city" placeholder="City"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="home_eircode" class="form-control home_eircode"
                                    placeholder="Eircode">
                            </div>
                            <h5>Shipping Address</h5>
                            <div class="form-group">
                                <input type="text" name="shipping_line1" class="form-control shipping_line1"
                                    placeholder="Line 1" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_line2" class="form-control shipping_line2"
                                    placeholder="Line 2">
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_town" class="form-control shipping_town"
                                    placeholder="Town" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_city" class="form-control shipping_city"
                                    placeholder="City" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="shipping_eircode" class="form-control shipping_eircode"
                                    placeholder="Eircode">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="customerId" class="id">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Modal Delete Customer-->
        <form id="deleteForm" action="/customer" method="DELETE">
            <!-- we can't DELETE with HTML form - this is just an attribute  picked up by AjAX -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">Delete Customer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <strong>Are you sure you want to delete this customer?</strong>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="customerId" class="form-control id" required>
                            <button type="submit" class="btn btn-success">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Operation Successful Alert Modal -->
        <div class="modal fade" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="alert alert-success" role="alert">
                    <strong>Oh Great!</strong> RESTful Operation was Successful!
                </div>
            </div>
        </div>

        <!-- Operation Unsuccessful Alert Modal -->
        <div class="modal fade" id="errorAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="alert alert-danger" role="alert">
                    <strong>Oh No!</strong> RESTful Operation was Unsuccessful!
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            //
            // Handle Add Modal form submit using AJAX PUT
            //
            var addForm = $("#addForm");
            addForm.submit(function (e) {
                e.preventDefault(); // prevent handling the normal form submit click!
                $.ajax({
                    type: addForm.attr('method'),
                    url: addForm.attr('action'),
                    data: addForm.serialize(), // get data from form!
                    success: function (data) {
                        console.log('Update successful!');
                        // make a timed Bootstrap Alert on Success
                        // then re-direct to "/"
                        $('#successAlert').modal('show');
                        var timer = setTimeout(function () {
                            $(location).attr('href', '/customer')
                        }, 2000);
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        // make a timed Bootstrap Alert on Error
                        // then re-direct to "/"
                        $('#errorAlert').modal('show');
                        var timer = setTimeout(function () {
                            $(location).attr('href', '/customer')
                        }, 2000);
                    },
                });
                $('#addModal').modal('hide');
            });
            //
            // Set up the Update Modal - It is shown, and data passed, via button click
            //
            $('#customerList').on('click', '.update', function () {
                $('#updateModal').modal('show');
                $(".title").val($(this).data('title'));
                $('.first_name').val($(this).data('first-name'));
                $('.last_name').val($(this).data('last-name'));
                $('.mobile').val($(this).data('mobile'));
                $('.email').val($(this).data('email'));
                $('.home_line1').val($(this).data('home-line1'));
                $('.home_line2').val($(this).data('home-line2'));
                $('.home_town').val($(this).data('home-town'));
                $('.home_city').val($(this).data('home-city'));
                $('.home_eircode').val($(this).data('home-eircode'));
                $('.shipping_line1').val($(this).data('shipping-line1'));
                $('.shipping_line2').val($(this).data('shipping-line2'));
                $('.shipping_town').val($(this).data('shipping-town'));
                $('.shipping_city').val($(this).data('shipping-city'));
                $('.shipping_eircode').val($(this).data('shipping-eircode'));
                $('.id').val($(this).data('id'));
            });
            //
            // Handle Update Modal form submit using AJAX PUT
            //
            var updateForm = $("#updateForm");
            updateForm.submit(function (e) {
                e.preventDefault(); // prevent handling the normal form submit click!
                var id = updateForm.find('input[name="customerId"]').val();
                $.ajax({
                    type: updateForm.attr('method'),
                    url: updateForm.attr('action') + "/" + id,
                    data: updateForm.serialize(), // get data from form!
                    success: function (data) {
                        console.log('Update successful!');
                        // make a timed Bootstrap Alert on Success
                        // then re-direct to "/"
                        $('#successAlert').modal('show');
                        var timer = setTimeout(function () {
                            $(location).attr('href', '/customer')
                        }, 3000);
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        // make a timed Bootstrap Alert on Error
                        // then re-direct to "/"
                        $('#errorAlert').modal('show');
                        var timer = setTimeout(function () {
                            $(location).attr('href', '/customer')
                        }, 3000);
                    },
                });
                $('#updateModal').modal('hide');
            });
            //
            // Set up the Delete Modal - It is shown, and data passed, via button click
            //
            $('#customerList').on('click', '.delete', function () {
                var customer_id = $(this).data('id');
                // let's remind the user which quotation they are deleting
                var customer_first_name = $(this).data('first-name');
                var customer_last_name = $(this).data('last-name');
                //var subQuote = quotation_quote.substring(0, 15);
                //var authorSurname = quotation_author.split(" ").splice(-1)[0];
                $("#deleteModal .modal-body").html("<span class=\"font-weight-bold\">Are you sure you want to delete Customer: </span><span class=\"font-italic\">" + customer_first_name + " " + customer_last_name + "</span><span class=\"font-weight-bold\">?</span>");
                $('#deleteModal').modal('show');
                $('.id').val(customer_id);
            });
            //
            // Handle Delete Modal form submit using AJAX DELETE
            //
            var deleteForm = $("#deleteForm");
            deleteForm.submit(function (e) {
                // make everything look like a Single Page Application
                // consuming the RESTful API routes based on user selection
                e.preventDefault();  // prevent handling the normal form submit click!
                var id = deleteForm.find('input[name="customerId"]').val();
                $.ajax({
                    type: deleteForm.attr('method'),
                    url: deleteForm.attr('action') + "/" + id,
                    success: function (data) {
                        console.log('Deletion successful!');
                        // make a timed Bootstrap Alert on Success
                        // then re-direct to "/"
                        $('#successAlert').modal('show');
                        var timer = setTimeout(function () {
                            $(location).attr('href', '/customer')
                        }, 3000);
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        // make a timed Bootstrap Alert on Error
                        // then re-direct to "/"
                        $('#errorAlert').modal('show');
                        var timer = setTimeout(function () {
                            $(location).attr('href', '/customer')
                        }, 3000);
                    },
                });
                $('#deleteModal').modal('hide');
            });
            //
            // Search: Field Selection
            //
            $("#fieldSearchSelect").on('change', function () {
                var k = $(this).val();
                if (k == 1) {
                    $("#tableFilter").attr("placeholder", "Filter Quotation List ...");
                } else {
                    $("#tableFilter").attr("placeholder", "Filter Author List ...");
                }
                // $("#tableFilter").val("");
                $("#tableFilter").keyup();
            });
            //
            // Search: Table Filter
            //
            $("#tableFilter").keyup(function () {
                var filter = $(this).val().toUpperCase();
                $("#customerList").find('tr').each(function (rows) {
                    if (rows !== 0) {
                        var row = $(this);
                        var searching = "";
                        if ($("#fieldSearchSelect").val() == 1) {
                            searching = row.find("td:first").text().toUpperCase();
                        } else {
                            searching = row.find("td:first + td").text().toUpperCase();
                        }
                        if (searching.indexOf(filter) != -1) {
                            row.show();
                        } else {
                            row.hide();
                        }
                    }
                });
            });
            //
            // Search: Database search
            //
            $("#databaseSearch").on('click', function () {
                var search = $("#databaseSearchFilter").val().replace(/[|&;$%@"<>()+,^  ]/g, "");
                if (search) {
                    $(location).attr('href', '/' + $("#databaseSearchSelect").val() + '/' + search);
                } else {
                    $(location).attr('href', '/' + $("#databaseSearchSelect").val());
                }
            });
            //
            //  If there is a database filter then add a badge
            //
            if ($(location).attr('pathname') !== '/') {
                $('#databaseFilterNotice').text("(" + $(location).attr('pathname') + ")");
            }
        });
    </script>
</body>

</html>